# Data
FULL_HISTORY_DATA="./data/longmemeval_s.json"
ORACLE_DATA="./data/longmemeval_oracle.json"
BM25_DATA="./data/longmemeval_bm25.json"

# Result
FULL_HISTORY_RESULT="./results/full_history.json"
ORACLE_RESULT="./results/oracle.json"
BM25_RESULT="./results/bm25.json"

# Runtime
SAMPLE_SIZE=500
READER_BATCH_SIZE=1
JUDGE_BATCH_SIZE=2

# Model
## Provider
PROVIDER_ENDPOINT_URL="https://ur.provider.com/v1"
#PROVIDER_ENDPOINT_URL="http://localhost:1234/v1"
PROVIDER_API_KEY=""

## Reader
# Kaggle: gpt-oss:20b
# LMStudio: openai/gpt-oss-20b
FULL_HISTORY_MODEL="gpt-oss:20b"
ORACLE_MODEL="gpt-oss:20b"
BM25_MODEL="gpt-oss:20b"

## Judge
FULL_HISTORY_JUDGE_MODEL="gpt-oss:20b"
ORACLE_JUDGE_MODEL="gpt-oss:20b"
BM25_JUDGE_MODEL="gpt-oss:20b"
JUDGE_RESULT="./results/judge.json"